VITE_SUPABASE_URL=https://npfffizpsgfkloinebeb.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5wZmZmaXpwc2dma2xvaW5lYmViIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc1NjA4MDgsImV4cCI6MjA5MzEzNjgwOH0.ziDWHGDwnsnT4_KBJme_u_2pJb7s-1CMlYbF10Y-vrA
